*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-family{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.first-header{
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: 16px auto;
    align-items: center;
}
.menu{
    display: flex;
    gap: 32px;
}
nav .menu li{
    list-style: none;
}
nav .menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;

}
.btn{
    padding: 12px 16px;
    color: #FFFFFF;
    border: none;
    background-color: #30B868;
    border-radius: 4px;
    font-size: 16px;
}
.hero{
    background: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    min-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;  
    align-items: center; 
}
.hero-sec{
                   
    padding: 115px 120px 179px;
    text-align: center;
    color: #FFFFFF;
    
}
.vault-works{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.vault-btn{
    display: flex;
    gap: 10px;
    padding: 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    border: none;
    font-weight: 600;
}
.works-btn{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 16px;
    align-items: center;
    gap: 10px;
    background: transparent;
    border-radius: 4px;
    font-weight: 600;

}
.hero-tittle{
    padding: 8px 12px;
    background-color:#FFFFFF;
    color: #30B868;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 16px;
}
.hero-sec #color{
    color: #30B868;    

}
.hero-sec h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;

}
.hero-sec p{
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 32px;
    max-width: 690px;
    font-weight: 400;
    
}
.about-section{
    text-align: center;
    padding: 60px;

}
.about-section h2{
    font-size: 48px;
    font-weight: 700;
}
.about-section p{
    font-size: 16px;
    font-weight: 400;
}
.skill-box{
    width: 70%;
    margin: 44px auto 0;
    display: flex;
    gap: 24px;
}
.skill-card{
    padding: 69.5px 24px;
    gap: 24px;
    text-align: center;
    box-shadow: 0 0 6px #9daab6;

}
.skill-card .logo-bg{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 16px;
    
}
.logo-bg img{
    width: 32px;
    height: 32px;
}
.skill-card h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.solution-section{
    display: flex;
    padding: 120px;
    
}